.page {
      display: flex;
      flex-direction: column;
      font-family: Arial, sans-serif;
      line-height: 1.5;
      color: #333;
      width: 100vw;
      align-items: center;
      min-height: 100vh;
      background-color: #1a866b;
}

::-webkit-scrollbar {
      width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
      background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
      background: #5fdc72;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: #555;
}
.page.green-theme {
      background-color: #1a866b;
}
.page.blue-theme {
      background-color: #29779e;
}
.page.violet-theme {
      background-color: #5d1a86;
}

.loader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
}

.main {
      width: 70%;
      flex-grow: 1;
}

.all-time-stats-section {
      display: flex;
      justify-content: space-evenly;
      padding: 10px;
}

.all-time-stat {
      width: 150px;
      height: 150px;
      color: black;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 20px;
      text-align: center;
      padding: 10px;
}
.all-time-stat.green-theme {
      background-color: #5fdc72;
}
.all-time-stat.blue-theme {
      background-color: #5facdc;
}
.all-time-stat.violet-theme {
      background-color: #c280f1;
}

.characters-bar-graph-section {
      height: 500px;
      width: 100%;
      padding: 10px;
}

.last-ten-tests-table {
      margin-top: 20px;
      color: black;
      width: 100%;
      text-align: center;
      border: 2px solid black;
}

.last-ten-tests-table.green-theme {
      background-color: #5fdc72;
}

.last-ten-tests-table.blue-theme {
      background-color: #5facdc;
}
.last-ten-tests-table.violet-theme {
      background-color: #c280f1;
}

.words-section,
.letters-section {
      display: grid;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      margin: 10px;
}

.word,
.letter {
      background-color: #5fdc72;
      padding: 10px;
      box-shadow: 5px 3px 3px gray;
      transition: transform 0.15s linear;
}

.lettere:hover,
.word:hover {
      transform: scale(0.95);
      cursor: pointer;
}

.word-title,
.letter-title {
      font-size: 24px;
      color: black;
}
.word-stats,
.letter-stats {
      font-size: 14px;
      font-family: monospace;
      color: #333;
}

.word-mode {
      color: gray;
}
