.user-information-section {
      position: absolute;
      right: 10px;
      top: 40px;
      padding: 20px;
      border-radius: 10px;
      background-color: #5fdc72;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 1000;
}

.user-information-section-green-theme {
      background-color: #5fdc72;
}

.user-information-section-blue-theme {
      background-color: #5facdc;
}

.user-information-section-violet-theme {
      background-color: #c280f1;
}

.avatar-icon {
      width: 50px;
      margin: 5px;
}

.logout-button {
      font-style: italic;
      font-weight: bold;
      font-size: 13px;
      background-color: transparent;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      color: black;
      border: 2px solid black;
      cursor: pointer;
      margin: 5px;
}
.logout-button:hover {
      border: 2px solid white;
}
