* {
      box-sizing: border-box;
      margin: 0;
      border: none;
      line-height: 1.6;
}
.page {
      display: flex;
      flex-direction: column;
      font-family: Arial, sans-serif;
      line-height: 1.5;
      color: #333;
      width: 100vw;
      align-items: center;
      min-height: 100vh;
      background-color: #1a866b;
}
.main {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
}

.login-form {
      background-color: #5fdc72;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      width: 400px;
      height: 400px;

      justify-content: space-around;
      color: white;
      align-items: center;
}
heading {
      font-size: larger;
}
.label {
      border-radius: 5px;
}

.user-details-input {
      background-color: #1a866b;
      color: white;
      width: 70%;
      border-radius: 20px;
}
::placeholder {
      color: white;
}
.login-button {
      background-color: #1a866b;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 20px;
}
.login-button:hover {
      box-shadow: 0 0 10px rgba(0, 255, 0, 1);
}
