.page {
      display: flex;
      flex-direction: column;
      height: 100vh;
      font-family: Arial, sans-serif;
      line-height: 1.5;
      color: #333;
      background-color: "black";
      align-items: center;
      justify-content: center;
      background-color: #1a866b;
      transition: background-color 0.5s linear;
}

.main {
      flex-grow: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
}

.typing-section {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.practise-words {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      padding: 10px;
      background-color: aliceblue;
}

.home-page-green-theme {
      background-color: #1a866b;
}

.home-page-blue-theme {
      background-color: #29779e;
}

.home-page-violet-theme {
      background-color: #5d1a86;
}
