.word {
      background-color: #5fdc72;
      padding: 10px;
      box-shadow: 5px 3px 3px;
      transition: opacity 0.25s linear;
      margin: 5px;
      position: relative;
      opacity: 1;
}

.last-ten-test-open-button {
      position: absolute;
      right: 15px;
      top: 5px;
      color: black;
      font-style: italic;
      font-weight: bold;
      font-size: 13px;
      background-color: transparent;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 20px;
      color: black;
      border: 2px solid black;
      cursor: pointer;
}

.last-ten-test-open-button:hover {
      border: 2px solid white;
}

.word-title {
      color: black;
}
.word-stats {
      font-size: 14px;
      font-family: monospace;
      color: #333;
      display: flex;
}

.word-green-theme {
      background-color: #5fdc72;
}

.word-blue-theme {
      background-color: #5facdc;
}

.word-violet-theme {
      background-color: #c280f1;
}

table {
      border-collapse: collapse;
      margin: 5px;
}
th,
td {
      border: 2px solid black;
      padding: 5px;
      text-align: center;
}
