.test-stats {
      display: flex;
      width: 100%;
      justify-content: space-between;
}

.test-stat {
      color: white;
      font-size: 20px;
      padding: 10px;
      font-style: italic;
}

.typing-paragraph {
      width: 900px;
      height: 120px;
      color: #e9e0d2;
      font-size: 24px;
      overflow-y: hidden;
      position: relative;
}
.paragraph-on-blur-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.7);
}

.word {
      display: inline-block;
      height: 40px;
      margin-left: 2px;
      margin-right: 2px;
}
.letter {
      border: 0px solid white;
      transition: border ease-out 0.2s;
      margin: 1px;
      display: inline-block;
      height: 36px;
}

.active-right-green-theme {
      color: #5fdc72;
}
.active-right-blue-theme {
      color: #5facdc;
}
.active-right-violet-theme {
      color: #c280f1;
}

.active-wrong {
      background-color: rgb(240, 68, 68);
}

.active-next-character {
      border-bottom: 2px solid white;
}

.load-next-paragraph-form {
      display: inline-block;
}

.load-next-paragraph-button {
      width: 30px;
      height: 30px;
      font-style: italic;
      font-weight: bold;
      font-size: 14px;
      background-color: white;
      border-radius: 59%;
      color: black;
      margin: 5px;
      cursor: pointer;
}

.paragraph-loader {
      display: flex;
      align-items: center;
      justify-content: center;
}

.icon-green-theme {
      background-color: #5fdc72;
      color: black;
}
.icon-blue-theme {
      background-color: #5facdc;
      color: black;
}

.icon-violet-theme {
      background-color: #c280f1;
      color: black;
}
