.test-stats {
      display: flex;
      width: 100%;
      justify-content: space-between;
}

.test-stat {
      color: white;
      font-size: 20px;
      padding: 10px;
      font-style: italic;
}

.typing-paragraph {
      width: 900px;
      height: 120px;
      color: #e9e0d2;
      font-size: 24px;
      overflow-y: scroll;
      position: relative;
}
.typing-paragraph::-webkit-scrollbar {
      display: none;
      scroll-behavior: smooth;
}

.word {
      display: inline-block;
      height: 40px;
}
.letter {
      border: 0px solid white;
      transition: border ease-out 0.2s;
      margin: 2px;
      display: inline-block;
      height: 36px;
}

.active-right {
      color: green;
}

.active-wrong {
      background-color: rgb(240, 68, 68);
}

.active-next-character {
      border-bottom: 2px solid white;
}

.load-next-paragraph-form {
      display: inline-block;
}

.load-next-paragraph-button {
      width: 30px;
      height: 30px;
      font-style: italic;
      font-weight: bold;
      font-size: 14px;
      background-color: white;
      border-radius: 59%;
      color: black;
      margin: 5px;
      cursor: pointer;
}

.paragraph-loader {
      display: flex;
      align-items: center;
      justify-content: center;
}

.icon-green-theme {
      background-color: #5fdc72;
      color: black;
}
.icon-blue-theme {
      background-color: #5facdc;
      color: black;
}

.icon-violet-theme {
      background-color: #c280f1;
      color: black;
}
