.words-queue {
      position: absolute;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.7);
      max-height: 100%;
      overflow-y: auto;
      padding: 30px;
      min-height: 100vh;
}

.words-queue-green-theme {
      background-color: #5fdc72;
}

.words-queue-blud-theme {
      background-color: #5facdc;
}

.word-stats {
      flex-direction: column;
}
