.words-queue {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #5d1a86;
      max-height: 100%;
      overflow-y: auto;
      padding-left: 2px;
      padding-right: 2px;
}

.word-stats {
      flex-direction: column;
}
